<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center">All artciles</h1>
    <hr />
    <div
      style="background-color: orange; padding: 20px; border: solid black 1px"
    >
      <%for (let article of allArticles) {%>
      <h2><%= article.title %></h2>
      <br />
      <% } %>
    </div>
  </body>
</html>
